<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<h1>Chat</h1>
<div class="popup">
  <div id="firechat-wrapper" class="closed"></div>
</div>
<!-- <button onclick="login()">Login with Google</button> -->
<button id="chat-btn"><i class="fa fa-comments seafoam"></i>Chat</button>
