<div class="container">
  <br>
  <h1 class="circle-blue">Calendar</h1>
  <br>
  <br>

  <div class="row">
    <div class="center-block">
      <table class="table dashboard">
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody id="hover-this">
          <tr>
            <th class="row v-align">AM</th>
            <td class="green-gradient2 emphasize" id="example1"></td>
            <td class="yellow-gradient2 emphasize" id="example2"></td>
            <td class="green-gradient2 emphasize" id="example4"></td>
            <td class="pink-gradient2 emphasize" id="example5"></td>
            <td class="yellow-gradient2 emphasize" id="example6"></td>
          </tr>
          <tr>
            <th class="row v-align">PM</th>
            <td class="green-gradient2 emphasize"></td>
            <td class="yellow-gradient2 emphasize"></td>
            <td class="pink-gradient2 emphasize" id="example3"></td>
            <td class="pink-gradient2 emphasize"></td>
            <td class="yellow-gradient2 emphasize"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Monday 10/24</h4>
        </div>
        <div class="modal-body">
          <p>Care-Taker: Julia</p>
          <p>Kids: Stephanie, Robbie, Timothy</p>
          <p>10AM @ park</p>
          <p>12PM lunch</p>
          <p>2PM arts and craft</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Tuesday 10/25</h4>
        </div>
        <div class="modal-body">
          <p>Care-Taker: Cindy + Julia</p>
          <p>Kids: Jeff, Ali, Sam</p>
          <p>9AM @ park</p>
          <p>11AM lunch</p>
          <p>1:30PM movies</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel4">Wednesday 10/26</h4>
        </div>
        <div class="modal-body">
          <p>Care-Taker: Seba</p>
          <p>Kids: Mal, Alex</p>
          <p>9AM reading time</p>
          <p>12PM lunch</p>
          <p>2PM park</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel5">Thursday 10/27</h4>
        </div>
        <div class="modal-body">
          <p>STILL NEED CARETAKER</p>
          <p>Kids: John, Daniel</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel6">Friday 10/28</h4>
        </div>
        <div class="modal-body">
          <p>Care-Taker: Seba + Max</p>
          <p>Kids: Ken, Sham, Masha, Hunter</p>
          <p>8AM breakfast</p>
          <p>11AM board games</p>
          <p>2PM park</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel3">WEDNESDAY 10/26</h4>
        </div>
        <div class="modal-body">
          <p>STILL NEED CARETAKER</p>
          <p>Kids: Resdan, Christine, Marvan</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <!-- END OF GRID MODALS -->
</div>

<!-- Members -->
<div class="container">
  <br>
  <h1 class="circle-blue">Members</h1>
  <br>
  <br>
  <div class='row'>
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div id="prof1" class="card text-xs-center">
          <img class="card-img-top info-card-img" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Cindy</h4>
            <p class="card-text">Phone: (555) 555-555<br>Address: 123 Oak St</p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
          <div class="card-footer text-muted">
            Last online: 2 hours ago
          </div>
        </div>

        <div class="card text-xs-center">
          <img class="card-img-top info-card-img" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Julia</h4>
            <p class="card-text">Phone: (555) 555-555<br>Address: 678 Spruce Ave</p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
          <div class="card-footer text-muted">
            Last online: 8 hours ago
          </div>
        </div>

        <div class="card text-xs-center">
          <img class="card-img-top info-card-img" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Seba</h4>
            <p class="card-text">Phone: (555) 555-555<br>Address: 633 Folsom St</p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
          <div class="card-footer text-muted">
            Last online: 3 hours ago
          </div>
        </div>

        <div class="card text-xs-center">
          <img class="card-img-top info-card-img" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Max</h4>
            <p class="card-text">Phone: (555) 555-555<br>Address: 633 Folsom St</p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
          <div class="card-footer text-muted">
            Last online: 2 days ago
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="profileModalLabel">Name1</h4>
        </div>
        <div class="modal-body">
          NAME1 TEXT STUFF
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
