<div class="container">
  <br>
  <h1>Circle Dashboard</h1>
  <br>
  <br>

  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  <div class="row">
    <div class="center-block">
      <table class="table dashboard">
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">AM</th>
            <td class="green">Mark</td>
            <td class="yellow">Otto</td>
            <td class="green">@mdo</td>
            <td class="pink">@mdo</td>
            <td class="yellow">@mdo</td>
          </tr>
          <tr>
            <th scope="row">PM</th>
            <td class="green">Jacob</td>
            <td class="yellow">Thornton</td>
            <td class="pink">@fat</td>
            <td class="pink">@mdo</td>
            <td class="yellow">@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
