<div class="container">
  <br>
  <h1>Circle Dashboard</h1>
  <br>
  <br>

  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  <div class="row">
    <div class="center-block">
      <table class="table dashboard">
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">AM</th>
            <td class="green" id="example1"></td>
            <td class="yellow" id="example2"></td>
            <td class="green"></td>
            <td class="pink"></td>
            <td class="yellow"></td>
          </tr>
          <tr>
            <th scope="row">PM</th>
            <td class="green"></td>
            <td class="yellow"></td>
            <td class="pink" id="example3"></td>
            <td class="pink"></td>
            <td class="yellow"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Monday</h4>
        </div>
        <div class="modal-body">
          MONDAY TEXT STUFF
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Tuesday</h4>
        </div>
        <div class="modal-body">
          TUESDAY TEXT STUFF
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel3">WEDNESDAY</h4>
        </div>
        <div class="modal-body">
          WEDNESDAY TEXT STUFF
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <!-- END OF MODALS -->

  <div class="row">
   <div class="col-md-3">
     <div class="row">

     <img class="img-responsive label" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" /></div>
     <div class="row label">
       <p>Name1</p>
     </div>
   </div>

  <div class="col-md-3">
    <div class="row">
     <img class="img-responsive" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" /></div>
     <div class="row label">
     <p>Name2</p>
   </div>
   </div>

   <div class="col-md-3">
     <div class="row">
     <img class="img-responsive" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" /></div>
     <div class="row label">
     <p>Name3</p>
   </div>
   </div>

   <div class="col-md-3">
     <div class="row">

     <img class="img-responsive" src="https://www.cs.cornell.edu/Courses/cs3110/2015sp/resources/images/staff/anonymous.png" /></div>
     <div class="row label">

     <p>Name4</p>
   </div>
   </div>
  </div>

</div>
