<style>
  /*.bg{
    width: 100%;
    z-index: 0;
  }*/

  .bg-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: url("http://i.imgur.com/z93puGP.jpg");
  }
</style>
<div class="bg-container">

</div>
