<div class="container">

  <div class="user-info-container">

    <div class="col-md-4 user-picture-container user-info">

    </div>

    <div class="col-md-2 user-kids-container user-info">
      
    </div>

    <div class="col-md-6 user-kids-info-container user-info">

    </div>

  </div>

</div>