<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<div class="container">
    <div class="row user-menu-container square">
        <div class="col-md-4 user-details">
          <div class="row white">
            <div class="user-image">
                <img src="http://i.imgur.com/76rx1QD.jpg" class="img-responsive thumbnail">
            </div>
          </div>
        </div>
        <div class="menu-container">
        <div class="col-md-2 user-menu-btns">
          <div class="btn-group-vertical square" id="responsive">
            <a href="#" class="btn btn-block btn-default">
              <img class="child fa fa-3x top-btn" src="http://i.imgur.com/76rx1QD.jpg">
            </a>
            <a href="#" class="btn btn-default">
              <img class="child fa fa-3x middle-btn" src="http://i.imgur.com/76rx1QD.jpg">
            </a>
            <a href="#" class="btn btn-default">
              <img class="child fa fa-3x" src="http://i.imgur.com/76rx1QD.jpg">
            </a>
          </div>
        </div>
        
        <div class="col-md-6 user-menu user-pad">
          <div class="map-container active">
            <div id="map"></div>
          </div>
          
          <div class="user-menu-content">
            <h3 class="kid-info-h3">Alice Gatsby</h3>
            <ul class="user-menu-list">
              <li>
                <h4><i class="icon fa fa-user fa-fw coral"></i> Ali</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-venus fa-fw coral"></i> Female</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-birthday-cake fa-fw coral"></i> 11</h4>
              </li>
            </ul>

            <ul class="user-menu-list activities">
              <li><h4><i class="icon fa fa-heart-o fa-fw coral"></i> <span class="activity"><i class="fa fa-laptop white"></i> computers</span>
              <span class="activity"><i class="fa fa-gamepad white"></i> gaming</span>
              <span class="activity"><i class="fa fa-paint-brush white"></i> painting</span>
              <span class="activity"><i class="fa fa-soccer-ball-o white"></i> soccer</span>
              </h4></li>
            </ul>

            <ul class="user-menu-list diet">
              <li><h4><i class="icon fa fa-ban fa-fw coral"></i> <span class="allergy"><i class="fa fa-lemon-o white"></i> nuts</span>
              </h4></li>
            </ul>

            <ul class="user-menu-list medkit">
              <li><h4><i class="icon fa fa-medkit fa-fw coral"></i> <span class="medication"><i class="fa fa-eyedropper white"></i> epipen</span>
              </h4></li>
            </ul>

             <!--  <li>
                <button type="button" class="btn btn-labeled btn-success" href="#">Rails g</button>
              </li>
            </ul> -->
          </div>

          <div class="user-menu-content">
            <h3 class="kid-info-h3">Jericho Gatsby</h3>
            <ul class="user-menu-list">
              <li>
                <h4><i class="icon fa fa-user fa-fw coral"></i> Jerry</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-mars fa-fw coral"></i> Male</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-birthday-cake fa-fw coral"></i> 10</h4>
              </li>
            </ul>

            <ul class="user-menu-list activities">
              <li><h4><i class="icon fa fa-heart-o fa-fw coral"></i>  
              <span class="activity"><i class="fa fa-pagelines white"></i> outdoors</span>
              <span class="activity"><i class="fa fa-video-camera white"></i> movies</span>
              <span class="activity"><i class="fa fa-book white"></i> reading</span>
              
              </h4></li>
            </ul>

            <ul class="user-menu-list diet">
              <li><h4><i class="icon fa fa-heartbeat fa-fw coral"></i> <span class="healthissues"><i class="fa fa-mixcloud white"></i> asthma</span>
              </h4></li>
            </ul>

            <ul class="user-menu-list medkit">
              <li><h4><i class="icon fa fa-medkit fa-fw coral"></i> <span class="medication"><i class="fa fa-fire-extinguisher fa-rotate-180 white"></i> inhaler</span>
              </h4></li>
            </ul>

              <!-- <li>
                <button type="button" class="btn btn-labeled btn-success" href="#">Teleport</button>
              </li>
            </ul> -->
          </div>
          <div class="user-menu-content">
            <h3 class="kid-info-h3">Keith Gatsby</h3>
            <ul class="user-menu-list">
              <li>
                <h4><i class="icon fa fa-user fa-fw coral"></i> K.P.</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-mars fa-fw coral"></i> Male</h4>
              </li>
              <li>
                <h4><i class="icon fa fa-birthday-cake fa-fw coral"></i> 8</h4>
              </li>
            </ul>

            <ul class="user-menu-list activities">
              <li><h4><i class="icon fa fa-heart-o fa-fw coral"></i> <span class="activity"><i class="fa fa-bicycle white"></i> cycling</span>
              <span class="activity"><i class="fa fa-gamepad white"></i> gaming</span>
              <span class="activity"><i class="fa fa-television white"></i> television</span>
              <span class="activity"><i class="fa fa-pencil-square-o white"></i> writing</span>
              </h4></li>
            </ul>

            <ul class="user-menu-list diet">
              <li><h4><i class="icon fa fa-ban fa-fw coral"></i> Allergies: <span class="allergy"><i class="fa fa-paw white"></i> dogs</span>
              </h4></li>
            </ul>

            

              <!-- <li>
                <button type="button" class="btn btn-labeled btn-success" href="#">Teleport</button>
              </li>
            </ul> -->
          </div>
        </div>
    </div></div>
  <div class="row user-desc">
      <div class="col-md-5 user-bio">
        <span class="user-entry"><div class="user-entry-heading"><i class="fa fa-user fa-fw"></i> Name</div> Carol Gatsby</span>

        <span class="user-entry"><div class="user-entry-heading"><i class="fa fa-home fa-fw"></i> Address</div> 44 Tehama St.</span>

        <span class="user-entry"><div class="user-entry-heading"><i class="fa fa-home fa-fw white"></i></div> San Francisco, CA 94105</span>

        <span class="user-entry"><div class="user-entry-heading"><i class="fa fa-mobile-phone fa-fw"></i> Mobile</div> (415) 693-1309</span>

        <span class="user-entry"><div class="user-entry-heading"><i class="fa fa-phone fa-fw"></i> Work</div> (510) 285-7925</span>


        <br>
        <span class="user-entry"><i class="fa fa-heart-o fa-fw"></i> About Me
        </span>

        <div class="user-about-me-container">
        <div class="user-about-me">Mathematical Alphanumeric Symbols is a Unicode block of Latin and Greek letters and decimal digits that enable mathematicians to denote different notions with different letter styles.</div>
        </div>

      </div>
      <div class="separator"></div>
      <div class="col-md-6">
        ***schedule***
      </div>
  </div>

  <div class="row submit">
    <button type="button" class="btn btn-labeled btn-success" href="#">Teleport</button>
  </div>
</div>
<script>
  function initMap() {
    var galvanize = {lat: 37.787613, lng: -122.3988267};
    var places = {
      place1: {
        center: {lat: 37.790651, lng: -122.404714},
        population: 4
      },
      place2:{
        center: {lat: 37.7840654, lng: -122.3986992},
        population: 5
      },
      place3: {
        center: {lat: 37.789248, lng: -122.3978077},
        population: 6
      }
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      disableDefaultUI: true,
      center: galvanize
    });
    var marker = new google.maps.Marker({
      position: galvanize,
      map: map
    });

    for (var circle in places) {
      var activeCircle = new google.maps.Circle({
        strokeColor: '#95CCC7',
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillColor: '#95CCC7',
        fillOpacity: 0.55,
        map: map,
        center: places[circle].center,
        radius: Math.sqrt(places[circle].population) * 100
      });
    }
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgd2jzOH_LtM8w7pQp35weC5NhkjeNAOc&callback=initMap">
</script>
