#firechat-wrapper {
  height: 475px;
  max-width: 325px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 50px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}

span.icon {
  display: none;
}

.caret {
  display: none;
}

#firechat #firechat-tabs {
  height: 423px;
}

#firechat-wrapper {
  padding: none;
}

.clearfix {
  background-color: #FDFDFD;
}
