#chat-btn {
  position: fixed;
  z-index: 20;
  width: 100px;
  background: transparent;
  border: 3px solid #95CCC7;
  color: #95CCC7;
  border-radius: calc(0.9rem - 1px);
  cursor: pointer;
}

.popup{
  width:380px;
  height:580px;
  background-color: transparent;
  bottom: 20px;
  right: -380px;
  position:fixed;
  border-radius:5px;
  transition: 0.5s;
}

#firechat-wrapper {
  height: 410px;
  max-width: 325px;
  padding: 10px;
  padding-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 50px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}

#chat-btn:focus {
  outline: 0;
}

.seafoam {
  color: #95CCC7;
}

.fa-comments:before {
  padding-right: 10px;
}

#firechat-btn-rooms {
  display: none;
}

#firechat #firechat-tabs {
  height: 423px;
}

#firechat {
  margin-top: -4em;
}

#firechat textarea {
  border: none;
}

#firechat textarea:focus {
  outline: 0;
}

.message-content {
  color: #95CCC7;
}

div.message.message-default {
  border: none;
}

#firechat-tabs #firechat-tab-list li a {
  color: #95CCC7;
}
.clearfix label {
  color: #808080;
}

.tab-pane-menu {
  border-left: none;
  border-right: none;
}
