// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  background-color: #fdfdfd;
  color: #727272;
}
