.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
/*.coralbg {
    background-color: #FA396F;
} */

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

.child{
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

.user-image{
  height: 370px;
}

div.user-menu-container .thumbnail {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   position:relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   /*min-height:200px;*/
   border: 0px!important;
   padding: 0px;
   /*border-radius: 0;*/
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    /*padding: 20px 25px;*/
    /*background-color: #46D8D2;*/
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    /*background: #FA396F;*/
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
}


div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 96%;
  top: 50%;
  margin-top: -13px;
  border-right: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-right: 10px solid #eee;
}

div.user-menu-btns div.btn-group-vertical>a.active.changed:after {
  content: '';
  position: absolute;
  left: 96%;
  top: 50%;
  margin-top: -13px;
  border-right: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-right: 10px solid transparent;
}

/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
    padding: 1em;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 0;
    height: 370px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
/*    min-height: 500px;
    max-height: 500px;
    max-width: 650px;*/
}

.user-image {
  max-height:500px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 1.5em;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

.kid-info-h3 {
  text-align: center;
}

.user-pad{
  background-color: #eee;
}

.top-btn{
  margin-top: 20px;
}

.middle-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-desc{
  margin-top:1em;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  margin-left: 0;
  margin-right: 0;
}

.user-bio{
}

.map-container{
  height: 100%;
}

#map{
  height: 100%;
  width: 100%;
}

.hidden{
  display: none;
}

.activity, {
  background-color: #FA396f;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.7em;
  color: white;
}

.dietary{
  background-color: #cd5c5c;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.7em;
  color: white;
}

.diet-icon{
  width: 20px;
  height: 20px;

}


.user-menu-list h4{
  font-size: 1.2em;
}

// PROFILE SCHEDULER STYLEZZZ
#profile-calendar {
  width: 39em;
}
.resize {
  width: 10em;
  height: 4em;
}

.row-heads {
  width: 3em;
}

th {
  text-align: center;
}
