<!DOCTYPE html>
<html>
  <head>
    <title>LadyproblemsTemp</title>

		<!-- include jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- include firebase cdn -->
		<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

		<!-- default firechat css -->
		<link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />

		<!-- firechat cdn -->
	  <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
